ol {
  margin: 0;
}

details > summary > span {
  display: inline-block;
  max-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

details[open] > summary > span {
  display: none;
}

summary:focus {
  outline: none;
}

summary::-webkit-details-marker {
  color: lightgrey;
}
