table, td, th {
  border: 1px solid;
  text-align: left;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

ol {
  margin: 0;
}

details > summary > span {
  display: inline-block;
  max-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

details[open] > summary > span {
  display: none;
}

summary:focus {
  outline: none;
}

summary::-webkit-details-marker {
  color: lightgrey;
}

span.link {
  margin-right: 10px;
}

span.key {
  display: inline-block;
  font-weight: normal;
  margin-right: 7px;
}

span.value {
  display: inline-block;
  margin-right: 7px;
}

section {
  margin: 20px;
}

div.graph {
  margin: 20px;
}

td.best {
  background: lightgreen;
}

td.good {
  background: #dfffdf;
}

td.unacceptable {
  text-decoration: line-through;
}

td.serviceCrashed {
  font-weight: bold;
}

a {
  text-decoration: none;
}