td.best {
  background: lightgreen;
}

td.good {
  background: #dfffdf;
}

td.unacceptable {
  text-decoration: line-through;
}

td.serviceCrashed {
  font-weight: bold;
}

th.params {
  padding: 0;
}

th.params > table {
  border: none;
}

th.params details > summary > span {
  max-width: 200px;
}

th.params table td {
  border-color: lightgray;
}