<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.apps.internal.games.memoryadvice">
    <application>
        <service android:name="com.google.android.apps.internal.games.memoryadvice.StressService"
            android:process=":externalProcess" />
        <service android:name="com.google.android.apps.internal.games.memoryadvice.CanaryService"
            android:process=":externalProcess" />
    </application>
</manifest>
